pkgbase = aocl-crypto-aocc
	pkgdesc = AOCL-Cryptography is a library consisting of cryptographic optimized functions for Zen.
	pkgver = 5.0
	pkgrel = 1
	url = https://github.com/amd/aocl-crypto
	arch = x86_64
	makedepends = cmake
	makedepends = ninja
	makedepends = aocc
	makedepends = lsb-release
	depends = aocl-utils-aocc
	provides = aocl-crypto
	conflicts = aocl-crypto
	options = staticlibs
	source = aocl-crypto.tar.gz::https://github.com/amd/aocl-crypto/archive/refs/tags/5.0.tar.gz
	sha256sums = b15e609943f9977e13f2d5839195bb7411c843839a09f0ad47f78f57e8821c23

pkgname = aocl-crypto-aocc
